// background colors
$bg-colors: #ff7373, #7edb75, #88fbff;
$bg-red: #ff7373;
$bg-green: #7edb75;
$bg-blue: #88fbff;

// default colors
$white: #fff;
$black: #000;
$dark-black: #313131;
$gray: #707070;
$dark-gray: #4d4d4d;
